@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Placide IRANDORA</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">A Rwandan Software Engineer And Cybersecurity Specialist.</a>.</p>
    <p>I'm on my way to becoming an ASP.NET Core Back-End Engineer</p>
</div>
